@import (reference) "../App.less";

#ResultList {
    .screen{
    	padding-top: @size; 
    	padding-left: 210px;
    }    
    .table {
    	.cell(@padding: (@size / 2) 1vw) {
    		padding: @padding;
    		text-transform: uppercase;
    		text-align: left;
    		font-weight: normal;
    		word-break: break-all;
    	}
    	border-spacing: 0;
    	caption {
    		.pagination {
    			float: right;
    			min-width: 100%;
    		}
	    	.tableTitle {
	    		float: left;
	    		text-align: left;
	    		font-family: @fontBold;
	    		font-size: @size * .86;
	    		-webkit-user-select: none;
	    		cursor: default;
	    		text-transform: uppercase;
    			min-width: 100%;
	    	}    		
    	}
		thead {
	    	th {
	    		-webkit-user-select: none;
	    		cursor: default;
	    		padding: 0;
		    	& > div {
		    		.cell(@size 1vw (@size / 2));
		    		vertical-align: bottom;
		    		font-size: @size * .67;
		    		color: lighten(@colorBlack, 54%);
		    	}
	    	}
		}
		tbody {
			&.hideRow {
				display: none;
			}
			&:not(.single):nth-child(odd) {
				background-color: @colorWhite;
			}
			&:not(.single):hover {
				background-color: fade(@colorBlack, 7%);
			}
	    	td {
	    		padding: 0;
		    	& > div {
		    		.cell;
		    		position: relative;
		    		vertical-align: top;
		    	}
		    	.bullet {
		    		width: 0;
		    		height: 0;
		    		padding: 0;
		    		float: left;
		    		white-space: nowrap;
		    		.box {
		    			position: absolute;
		    			top: 0;
		    			right: 100%;
		    			padding: (@size / 2) 0;
		    			display: none;
		    			cursor: pointer;
		    			font-family: @fontBold;
		    			-webkit-user-select: none;
		    			* {
		    				display: inline-block;
		    				vertical-align: middle;
		    			}
			    		.pointer {
			    			font-size: @size * .86;
			    			&.all {
			    				display: none;
			    			}
			    		}
			    		.angle {	    			
			    			margin-left: @size / 2;
			    		}
		    		}
		    	}
	    	}
		}
		&.oneRow {
			caption {
				display: none;
			}
			th > div {
				padding-bottom: 0;
			}
			tbody.single:not(.detailOpen) {
				 td div {
				 	padding-top: 0;
				 	padding-bottom: 0;
				 }
				 .box {
				 	display: block;
				 	&:hover {
		    			.all {
		    				display: inline-block;
		    			}
		    			.one {
		    				display: none;
		    			}		    			
			    		.angle {	    			
			    			transform: rotate(180deg);
			    			transform-origin: center;
			    		}
				 	}
				 }			
			}
			tbody.detailOpen {
				 td div {
				 	padding-top: 0;
				 	padding-bottom: 0;
				 }
				 .box {
				 	display: block;
				 	&:hover {
		    			.all {
		    				display: inline-block;
		    			}
		    			.one {
		    				display: none;
		    			}		    			
			    		.angle {	    			
			    			transform: rotate(90deg);
			    		}
				 	}
				 }			
			}
		}
    }
}
