@import (reference) "../App.less";

#FormSearch {
	padding: @padding;
	background-color: lighten(@colorBlack, 86%);
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	* {
		margin: 0;
	}
	.form-switch {	
		padding: @padding;
		padding-left: 0;
		display: flex;
		align-items: center;
		h3 {
			padding-right: @size;
			white-space: nowrap;
		}
		.select {
			width: 120px;
		}
	}
	.form {
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		.fieldBox:first-child {
			padding-left: 0;
		}
	}
	.fieldBox {
		position: relative;
		padding: @size / 2;
		padding-top: 0;
		margin-top: 1px;
		* {
			display: block;
			width: 100%;
			white-space: nowrap;
			min-width: 60px;
			text-transform: uppercase;
		}
		label {
			font-size: @size * .67;
			margin-bottom: 2px;
			color: lighten(@colorBlack, 54%);
		}
	}
	.btnSend {
		width: 16%;
		min-width: 91px;
		button {
			min-width: 72px;
		}
	}
}